{% extends 'layout.html' %}

{% block title %}
    Registrati
{% endblock %}

{% block content %}
    <h1>Registrati</h1>
    <p>
        Premessa, il sito è hostato su due piattaforme gratuite motivo per cui: <br>
        1) Tenete il link solo per chi fa parte del gruppo whatsapp <br>
        2) Evitate di usare password che utilizzate già per altre cose personali <br>
        3) Non abusate del sito, se ci sono problemi scrivetemi prima che si impalla tutto
    </p>
    <form class="form-with-validation" action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="form-submit">Submit</button>
    </form>
{% endblock %}