<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% comment %} Qua carico il css di una pagina specifica se serve {% endcomment %}
    {% block extra_head %}
    {% endblock %}
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'bottom-nav.html' %}
</body>
</html>